.buttons-container {
  margin-bottom: 20px;
}
button {
  width: 80px;
  height: 30px;
  font-weight: 750;
  box-shadow: 1px 1px 1px 1px rgb(136, 8, 8, 0.3);
}

.prev.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
.page-number {
  margin: 20px;
}
